.global-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cards-container{
        display: flex;
        justify-content:space-between;
        width: 100%;

        .card-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            padding: 1em;
            background-color: #FFFFFF;
            width: 17%;
            transform: scale(0);
            transition: transform 1s ease-out;
        }

        .card-container.show {
            transform: scale(1);
        }
    }
}

body{
    display: flex;
    justify-content: center;
    background-color: #F0F7FB;
}

p{
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

button{
    margin: 1em 3em;
    font-size: 1.1em;
    background-color: #009696;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

