html {
  font-size: 16px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 247, 251);
    height: 100vh;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

h1{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 2em;

}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.general-container{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 750px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.301);

    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        gap: 15px;
        
        label{
            align-self: flex-start;
            margin-top: 15px;
            padding: 0;
        }

        input{
            border-radius: 10px;
            border-color: rgb(220, 230, 240);
            height: 30px;
            padding: 5px 5px 5px 10px;
            width: 100%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1em;
        }

        input:disabled{
            margin: 0;
            border: none;
            border-bottom: solid 3px rgb(220, 230, 240);
            background-color: white;
            height: 30px;
            padding: 5px 5px 5px 10px;
            width: 100%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1em;
            color: black;
        }
    }

    .buttons-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        width: 70%;
        margin-top: 20px;
        button{
            border-radius: 10px;
            border: none;
            height: 35px;
            width: 95%;
            background-color: rgb(0, 150, 150);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.125em;
            color: white;
            font-weight: 600;
            margin: 10px 0;
            padding: 0;
        }
        .button-large{
            grid-column: span 2;
        }

        button:disabled{
            opacity: 0.4;
        }
    }

    a{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        color: rgb(0, 160, 155);
        font-weight: 600;
    }
}