@import url(todolist-header.css);

html{
    font-size: 16px;
    font-family: open-sans, sans-serif;
    background-color: rgb(240, 247, 251);
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 13em 1fr 30em;
    grid-template-rows: 3em 1fr;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(240, 247, 251);
}

main{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2em;
        border: 1px solid rgb(0, 130, 130);
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        height: 20em;

        h1{
            margin-bottom: 1.5em;
        }

        p{
            margin: 0.5em;
        }
    }
}