@import url(todolist-header.css);

html{
    font-size: 16px;
    font-family: open-sans, sans-serif;
    background-color: rgb(240, 247, 251);
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 1fr;
    padding: 0;
    margin: 0;
    background-color: rgb(240, 247, 251);
}

#register-login{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 150, 150);
    font-weight: 700;
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

    &:hover{
        color: rgb(255, 90, 90);
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 247, 251);
    margin: 2em;

    .general-container{
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 550px;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.301);
        padding: 10px 0;

        h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 700;
            font-size: 2em;
            margin-bottom: 1em;
        }

        .form-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 350px;
            gap: 30px;

            input{
                border-radius: 10px;
                border-color: rgb(220, 230, 240);
                height: 30px;
                padding: 5px 5px 5px 10px;
                width: 100%;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1em;
            }

            button{
                border-radius: 10px;
                border: none;
                height: 35px;
                width: 100%;
                background-color: rgb(0, 130, 130);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.125em;
                color: white;
                font-weight: 600;
                margin: 0;
                padding: 0;

                &:hover{
                    font-weight: 700;
                }
            }
        }
    }
}