main{
    border: 1px solid rgb(0, 130, 130);
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    margin: 10px 20px;
    grid-column: span 2;
    padding: 0em 2em;
    border-radius: 10px;
    scrollbar-color: rgb(0, 130, 130) rgb(255, 255, 255); 
    scrollbar-width: thin;

    h1{
        text-align: center;
        margin: 1em 0;
    }

    h2{
        margin: 2em 0 0.5em 0;
    }

    .task-container{
        display: flex;
        height: 2em;
        align-items: center;
        padding-left: 5px;

        &.selected{
            background-color: rgb(0, 150, 150);
            border-radius: 4px;
        }

        input{
            appearance: none;
            flex: 0 0 1.5em; 
            height: 1.5em;
            width: 1.5em;
            border-radius: 4px;
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            border: 2px solid rgb(0, 130, 130);

            &:checked{
                background-color: rgb(0, 130, 130);
                border: 2px solid rgb(250, 250, 250);
            }
        }

        label{ 
            margin-left: 1em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;

            &.selected{
                color: rgb(255, 255, 255);
                font-weight: bold;
            }
        }

        span{
            margin-left: 1em;
            padding: 2px 6px;
            background-color: rgb(200, 200, 200);
            border-radius: 4px;
            width: 125px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}