@import url(todolist-task-details.css);
@import url(todolist-header.css);
@import url(todolist-navbar.css);
@import url(todolist-main.css);
@import url(todolist-category-details.css);

html{
    font-size: 16px;
    font-family: open-sans, sans-serif;
    background-color: rgb(240, 247, 251);
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 13em 1fr 30em;
    grid-template-rows: 3em 1fr;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(240, 247, 251);
}
