nav{
    background-color: rgb(220, 230, 240);
    color: rgb(30, 30, 30);
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-color: rgb(0, 130, 130) rgb(255, 255, 255); 
    scrollbar-width: thin;
    max-height: calc(100vh - 80px);


    input{
        margin-top: 1em;
        padding: 5px;
        border: 2px solid rgb(0, 130, 130);
        border-radius: 5px;
        text-align: center;
    }

    .buttons-functions{
        margin-left: 0;
        border-radius: 5px;
        background-color: rgb(0, 130, 130);
        color: rgb(255, 255, 255);
        text-align: center;
    }

    h3{
        margin-top: 2em;
    }

    button{
        flex: 0 0 auto;
        margin-left: 1em;
        margin-top: 0.5em;
        padding: 5px;
        text-align: left;
        font-size: 1em;
        background: none;
        border: none;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover{
            color: rgb(255, 255, 255);
            font-weight: 700;
            background-color: rgb(0, 130, 130);
        }
    }

}