header{
    background-color: rgb(0, 130, 130);
    color: rgb(255, 255, 255);
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        margin-left: 1.5em;
    }

    div{
        margin-right: 1.5em;
    }

    button{
        background-color: white;
        color: rgb(0, 150, 150);
        font-weight: 700;
        font-size: 1em;
        padding: 10px;
        border: none;
        border-radius: 7px;
        cursor: pointer;

        &:hover{
            color: rgb(255, 90, 90);
        }
    }

    span{
        margin-right: 5px;
        font-size: 1.3em;
    }

    a{
        text-decoration: none;
        color: white;
        margin: 30px;
        margin-right: 3em;
        &:hover{
            color: rgb(255, 90, 90);
            font-weight: 700;
        }
    }
}