#task-details-container{
    border: 1px solid rgb(0, 130, 130);
    background-color: rgba(0, 130, 130, 0.2);
    margin: 10px 20px 10px 0;
    padding: 1.5em;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-color: rgb(0, 130, 130) rgb(255, 255, 255); 
    scrollbar-width: thin;

    button{
        font-size: 1em;
        border-radius: 5px;
        border: none;
        background-color: rgb(0, 130, 130);
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 5px;
        width: 10em;
        margin-top: 1.5em;  
        &:hover{
            color: rgb(255, 255, 255);
            font-weight: 700;
        }
    }

    label{
        margin: 2em 0 0.5em 0;
        font-weight: 700;
    }

    input, select{
        padding: 5px;
        border: 2px solid rgb(0, 130, 130);
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        font-size: 1em;
        text-align: center;
    }

    textarea{
        padding: 5px;
        border: 2px solid rgb(0, 130, 130);
        border-radius: 5px;
        width: 100%;
        min-height: 5em;
        box-sizing: border-box;
        font-size: 1em;
        text-align: center;
    }

    #status-options{
        display: flex;
        align-items: center;
        gap: 3em;
        input{
            margin: 0;
            width: 1em;
            height: 1em;
            accent-color: rgb(0, 130, 130);
        }

        label{
            margin: 0;
            font-weight: 400;
        }
    }
}
