#categories-container{
    border: 1px solid rgb(0, 130, 130);
    background-color: rgba(0, 130, 130, 0.2);
    margin: 10px 20px 10px 0;
    padding: 1.5em;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;

    h2{
        margin-bottom: 1em;
    }
    #categories-list-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        width: 90%;


        #categories-list{
            padding: 1em;
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            align-items: center;
            justify-content: space-between;
            overflow-y: auto;
            scrollbar-color: rgb(0, 130, 130) rgb(255, 255, 255); 
            scrollbar-width: thin;

            span{
                padding: 0.5em 0.7em;
                background-color: rgb(200, 200, 200);
                border-radius: 4px;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 25em;
                margin: 1em 0;

                &:hover{
                    font-weight: bold;
                    padding: 0.5em 0.56em;
                }
            }
        }
    }

    #category-details-container{
        border: 1px solid rgb(0, 130, 130);
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        display: none;
        flex-wrap: wrap;
        padding: 1em;
        justify-content: center;

        #category-details{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            div{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 1em;
            }

            label{
                margin: 0;
                padding: 0.5em 0 0.5em 0;
                font-weight: 700;
            }

            input{
                padding: 5px;
                border: 2px solid rgb(0, 130, 130);
                border-radius: 5px;
                font-size: 1em;
                width: 100%;
                text-align: center;
            }

            #category-details-color, #category-details-text-color{
                padding: 0;
                margin: 0.5em 0 0.5em 1em;
                border: none;
                width: 2em;
                height: 2em;
                align-self: right;
            }
        }
    }

    button{
        font-size: 1em;
        border-radius: 5px;
        background-color: rgb(0, 130, 130);
        border: none;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 5px;
        width: 10em;
        margin: 0.5em;
        cursor: pointer;


        &:hover{
            color: rgb(255, 255, 255);
            font-weight: 700;
        }

        &:disabled{
            background-color: rgba(0, 130, 130, 0.295);
            cursor: default;
        }
    }
}